<h1>Hello, <%=@user.firstname %></h1>
<p>Here is your params</p> 
<%= image_tag @user.avatar.url(:medium) %><br />
<%= @user.firstname %><br />
<%= @user.lastname %><br />
<%= @user.email %><br />

<%= link_to "Home", root_path %>
<%= link_to "Edit Profile", edit_user_path %>
